Source: vyatta-eapol
Section: contrib/net
Priority: extra
Maintainer: John Doe <example@example.com>
Standards-Version: 3.9.6
Build-Depends: debhelper (>= 5), autotools-dev, autoconf

Package: vyatta-eapol
Architecture: all
Depends: vyatta-cfg-system, vyatta-cfg, wpasupplicant (>= 2.6)
Replaces: vyatta-eapol
Description: EAPoL/802.11x configuration for VyOS
